<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMP HTML PAGE</title>
</head>
<body>

    TEMP HTML PAGE FOR RENDERING!

    <form action="/addNode" method="POST">

        <center>
            {%if name%}
            <h3 style="color:green;"> Hello, how are you {{name}}?</h3>
            {% endif %}
        </center>

        <label for="name">Enter your name:</label>
        <input type="text" name="name">

        <input type="Submit" >

    </form>
    
</body>
</html>